Flask
Flask-SQLAlchemy
Flask-Migrate
flask-bcrypt
flask-restful
flask-jwt-extended
flask-cors
requests-oauthlib==1.1.0
werkzeug==0.16.1
Flask-OAuthLib
requests
marshmallow
psycopg2-binary
python-dotenv
flake8
